*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#111827;
    color:#fff;
    overflow-x:hidden;
}

/* Background Glow */

body::before{
    content:'';
    position:fixed;
    width:500px;
    height:500px;
    background:#00eaff;
    filter:blur(180px);
    opacity:.25;
    left:-150px;
    bottom:-150px;
    z-index:-1;
}

body::after{
    content:'';
    position:fixed;
    width:500px;
    height:500px;
    background:#00eaff;
    filter:blur(180px);
    opacity:.20;
    right:-150px;
    top:-150px;
    z-index:-1;
}

.header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 10%;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:700;
    text-decoration:none;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:30px;
    transition:.3s;
}

.navbar a:hover,
.navbar a.active{
    color:#00eaff;
}

.home{
    min-height:90vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 10%;
    gap:50px;
}

.home-content{
    max-width:600px;
}

.home-content h3{
    font-size:30px;
    margin-bottom:10px;
}

.home-content h1{
    font-size:70px;
    line-height:1.1;
}

.home-content span{
    color:#00eaff;
}

.home-content p{
    margin:20px 0;
    color:#d1d5db;
    line-height:1.8;
}

.social-media{
    margin:25px 0;
}

.social-media a{
    width:48px;
    height:48px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border:2px solid #00eaff;
    border-radius:50%;
    color:#00eaff;
    margin-right:12px;
    text-decoration:none;
    transition:.4s;
}

.social-media a:hover{
    background:#00eaff;
    color:#111827;
    box-shadow:0 0 20px #00eaff;
}

.btn{
    display:inline-block;
    padding:14px 35px;
    background:#00eaff;
    color:#111827;
    border-radius:40px;
    text-decoration:none;
    font-weight:600;
    box-shadow:0 0 25px #00eaff;
}

/* Hexagon */

.hexagon{
    width:380px;
    height:430px;
    background:#00eaff;
    padding:8px;

    clip-path:polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
    );

    box-shadow:
    0 0 20px #00eaff,
    0 0 50px #00eaff,
    0 0 80px #00eaff;
}

.hexagon img{
    width:100%;
    height:100%;
    object-fit:cover;

    clip-path:polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
    );
}

/* Tablet */

@media(max-width:992px){

    .home{
        flex-direction:column-reverse;
        text-align:center;
        padding-top:40px;
    }

    .navbar{
        display:none;
    }

    .home-content h1{
        font-size:50px;
    }

    .hexagon{
        width:300px;
        height:340px;
    }
}

/* Mobile */

@media(max-width:600px){

    .header{
        padding:20px;
    }

    .home{
        padding:20px;
    }

    .home-content h1{
        font-size:38px;
    }

    .home-content h3{
        font-size:22px;
    }

    .hexagon{
        width:240px;
        height:280px;
    }

    .social-media a{
        width:42px;
        height:42px;
    }
}

/* ABOUT SECTION */

.about{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5rem;
    padding:100px 10%;
    background:#0f172a;
}

.about-img img{
    width:320px;
    border-radius:20px;
    box-shadow:0 0 30px #00eaff;
}

.about-content{
    max-width:600px;
}

.heading{
    font-size:50px;
    margin-bottom:15px;
}

.heading span{
    color:#00eaff;
}

.about-content h3{
    font-size:28px;
    margin-bottom:15px;
}

.about-content p{
    color:#d1d5db;
    line-height:1.8;
    margin-bottom:25px;
}

/* Responsive */

@media(max-width:992px){

    .about{
        flex-direction:column;
        text-align:center;
    }

    .about-img img{
        width:260px;
    }

    .heading{
        font-size:40px;
    }
}

/* SKILLS SECTION */

.skills{
    padding:100px 10%;
    background:#08111f;
}

.skills-heading{
    text-align:center;
    margin-bottom:60px;
}

.skills-heading h5{
    color:#00eaff;
    font-size:18px;
    letter-spacing:4px;
    margin-bottom:10px;
}

.skills-heading h2{
    font-size:65px;
    font-weight:700;
    color:#fff;
}

.skills-heading h2 span{
    color:#00eaff;
}

.skills-heading p{
    color:#cbd5e1;
    margin-top:15px;
    font-size:18px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.skill-card{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    border-radius:25px;
    padding:25px;
    transition:.4s;
}

.skill-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px rgba(0,234,255,.4);
}

.skill-top{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.skill-top i{
    font-size:45px;
    color:#00eaff;
}

.skill-top h3{
    flex:1;
    color:white;
    font-size:28px;
}

.percent-circle{
    width:85px;
    height:85px;
    border-radius:50%;
    border:5px solid #00eaff;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:22px;
    font-weight:700;
    box-shadow:0 0 20px #00eaff;
}

.progress-bar{
    width:100%;
    height:10px;
    background:#263244;
    border-radius:30px;
    overflow:hidden;
}

.progress{
    height:100%;
    background:#00eaff;
    border-radius:30px;
    box-shadow:0 0 15px #00eaff;
}

.html{
    width:95%;
}

.css{
    width:90%;
}

.js{
    width:75%;
}

.python{
    width:80%;
}

/* Mobile Responsive */

@media(max-width:768px){

    .skills-container{
        grid-template-columns:1fr;
    }

    .skills-heading h2{
        font-size:45px;
    }

    .skill-top h3{
        font-size:22px;
    }

    .percent-circle{
        width:70px;
        height:70px;
        font-size:18px;
    }
}

.portfolio{
    padding:100px 10%;
    background:#111827;
}

.portfolio-heading{
    text-align:center;
    margin-bottom:60px;
}

.portfolio-heading h5{
    color:#00eaff;
    letter-spacing:4px;
    margin-bottom:10px;
}

.portfolio-heading h2{
    font-size:60px;
    color:white;
}

.portfolio-heading span{
    color:#00eaff;
}

.portfolio-heading p{
    color:#cbd5e1;
    margin-top:15px;
}

.portfolio-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.portfolio-box{
    position:relative;
    overflow:hidden;
    border-radius:20px;
    border:1px solid rgba(255,255,255,.1);
}

.portfolio-box img{
    width:100%;
    height:250px;
    object-fit:cover;
    transition:.5s;
}

.portfolio-layer{
    position:absolute;
    left:0;
    bottom:-100%;
    width:100%;
    height:100%;
    background:linear-gradient(
    rgba(0,0,0,.2),
    rgba(0,234,255,.9)
    );

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    transition:.5s;
}

.portfolio-box:hover .portfolio-layer{
    bottom:0;
}

.portfolio-box:hover img{
    transform:scale(1.1);
}

.portfolio-layer h4{
    font-size:28px;
    color:white;
}

.portfolio-layer p{
    color:white;
    margin:15px 0;
}

.portfolio-layer a{
    width:50px;
    height:50px;
    background:white;
    color:#00bcd4;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    font-size:20px;
}

@media(max-width:768px){

    .portfolio-heading h2{
        font-size:42px;
    }

}
.portfolio-name{
    font-size:32px;
    margin-top:10px;
    color:#00eaff;
    letter-spacing:3px;
    text-shadow:0 0 15px #00eaff;
}

.contact{
    padding:100px 10%;
    background:#08111f;
}

.contact-heading{
    text-align:center;
    margin-bottom:60px;
}

.contact-heading h5{
    color:#00eaff;
    letter-spacing:4px;
    font-size:18px;
}

.contact-heading h2{
    color:#fff;
    font-size:60px;
    margin:10px 0;
}

.contact-heading span{
    color:#00eaff;
}

.contact-heading p{
    color:#cbd5e1;
}

.contact-container{
    display:grid;
    grid-template-columns:1fr 1.3fr;
    gap:40px;
}

.contact-info{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.info-box{
    display:flex;
    align-items:center;
    gap:20px;
    padding:25px;
    border-radius:20px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,0.1);
}

.info-box i{
    font-size:30px;
    color:#00eaff;
}

.info-box h4{
    color:white;
    margin-bottom:5px;
}

.info-box p{
    color:#cbd5e1;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:30px;
    border-radius:20px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,0.1);
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    border:none;
    outline:none;
    border-radius:12px;
    background:#111827;
    color:white;
    font-size:16px;
}

.contact-form button{
    padding:15px;
    border:none;
    border-radius:12px;
    background:#00eaff;
    color:#08111f;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px #00eaff;
}

@media(max-width:768px){

    .contact-container{
        grid-template-columns:1fr;
    }

    .contact-heading h2{
        font-size:42px;
    }
}
html{
    scroll-behavior:smooth;
}
.top-btn{
    position:fixed;
    bottom:25px;
    right:25px;

    width:60px;
    height:60px;

    border:none;
    border-radius:50%;

    background:#00eaff;
    color:#08111f;

    font-size:24px;
    cursor:pointer;

    display:none;

    justify-content:center;
    align-items:center;

    box-shadow:0 0 20px #00eaff;

    z-index:9999;

    transition:0.3s;
}

.top-btn:hover{
    transform:scale(1.1);
    box-shadow:0 0 35px #00eaff;
}

.gallery{
    padding:100px 10%;
    background:#111827;
}

.gallery-heading{
    text-align:center;
    margin-bottom:60px;
}

.gallery-heading h5{
    color:#00eaff;
    letter-spacing:4px;
    margin-bottom:10px;
}

.gallery-heading h2{
    color:white;
    font-size:60px;
}

.gallery-heading span{
    color:#00eaff;
}

.gallery-heading p{
    color:#cbd5e1;
    margin-top:15px;
}

.gallery-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.gallery-box{
    overflow:hidden;
    border-radius:20px;
    border:1px solid rgba(255,255,255,.1);
}

.gallery-box img{
    width:100%;
    height:250px;
    object-fit:cover;
    transition:.5s;
}

.gallery-box:hover img{
    transform:scale(1.1);
}

.gallery-box:hover{
    box-shadow:0 0 25px rgba(0,234,255,.4);
}

@media(max-width:768px){

    .gallery-heading h2{
        font-size:42px;
    }

}

.services{
padding:100px 10%;
background:#08111f;
}

.services-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.service-box{
background:#111827;
padding:30px;
text-align:center;
border-radius:20px;
transition:.4s;
}

.service-box:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #00eaff;
}

.service-box i{
font-size:50px;
color:#00eaff;
margin-bottom:15px;
}

.stats{
padding:70px 10%;
display:flex;
justify-content:space-around;
flex-wrap:wrap;
background:#111827;
}

.stat-box{
text-align:center;
}

.stat-box h2{
font-size:50px;
color:#00eaff;
}

.education{
    padding:100px 10%;
    background:#08111f;
}

.education-title{
    text-align:center;
    font-size:55px;
    margin-bottom:60px;
    color:white;
}

.education-title span{
    color:#00eaff;
}

.education-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.education-content{
    flex:1;
    position:relative;
}

.education-content::before{
    content:'';
    position:absolute;
    left:10px;
    top:0;
    width:3px;
    height:100%;
    background:#00eaff;
}

.edu-box{
    position:relative;
    padding-left:50px;
    margin-bottom:50px;
}

.edu-box::before{
    content:'';
    position:absolute;
    left:2px;
    top:10px;
    width:18px;
    height:18px;
    border-radius:50%;
    background:#00eaff;
    box-shadow:0 0 20px #00eaff;
}

.edu-box h3{
    color:#00eaff;
    font-size:32px;
    margin-bottom:10px;
}

.edu-box h4{
    color:white;
    margin-bottom:10px;
}

.edu-box p{
    color:#cbd5e1;
    line-height:1.7;
}

.education-image{
    flex:1;
}

.education-image img{
    width:100%;
    border-radius:25px;
    border:2px solid #00eaff;
    box-shadow:0 0 30px rgba(0,234,255,.4);
    transition:.4s;
}

.education-image img:hover{
    transform:scale(1.03);
}

@media(max-width:900px){

    .education-container{
        flex-direction:column;
    }

    .education-title{
        font-size:40px;
    }

}

.footer{
padding:30px;
text-align:center;
background:#08111f;
}

.footer-icons a{
color:#00eaff;
font-size:25px;
margin:0 10px;
}

.footer-icons a:hover{
text-shadow:0 0 15px #00eaff;
}